body {
  max-width: 100%;
  width: 100%;
  height:100%;
  overflow-x: hidden;
  background: #eef0eb;
}

html{
  height:100%;
}

.page-landing {
  height: 100vh;
  width: 100%;
  min-height:100vh;
}

.page {
  display: flex;
  align-items:center;
  justify-content:center;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.logo {
  font-size:45px;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #331e36;
}

.logo-navbar {
  font-size:35px;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #331e36;
}

.footer {
  padding: 30px 0;
  background: #343038 !important;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding: 15px 0;
}

.footer h4 {
  color: #ffffff;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.footer ul.quick-links li a{
  color:#ffffff;
}

.footer link-block {
  display: inline-block;
  text-align: left;
  background: #ffffff !important;
}

.footer ul icons {
  color:#ffffff;
}

.footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}