body {
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
  background: #f7f8f5;
}

html{
  height:100%;
}

a { color: inherit; } 

.content {
  min-height: 64vh;
}

.navbar-default {
    background-color: #eef0eb;
}

.page-landing {
  height: 100%;
  width: 100%;
}

.page {
  display: flex;
  align-items:center;
  justify-content:center;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.logo {
  font-size:45px;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #331e36;
}

.logo-navbar {
  font-size: 35px;
  font-family: 'Alegreya Sans SC', sans-serif;
  color: #331e36;
}

.navbar-link {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #331e36;
}

.navbar-icons {
  font-size:18px;
  color: #331e36;
}

.border-left{
    width: 5px; /* Line width */
    background-color: #000000; /* Line color */
    height: 100%; /* Override in-line if you want specific height. */
   /* display: inline-block;  Causes the line to float to left of content. 
      You can instead use position:absolute or display:inline-block
      if this fits better with your design */
  }

.footer {
  margin-top: auto;
  padding: 15px 0;
  background: #343038 !important;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  justify-content:space-evenly;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding: 15px 0;
}

.footer h4 {
  color: #ffffff;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.footer ul.quick-links li a{
  color:#ffffff;
}

.footer link-block {
  display: inline-block;
  text-align: left;
  background: #ffffff !important;
}

.footer ul icons {
  color:#ffffff;
}

.footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

/***** Profile Page *****/
.album-row {
    width: 100vw;
    height: 160px;
    background: #29252b;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.album-row-img {
  max-height: 160px;
  opacity: 0.8;
}

.profile-image {
  min-height: 170px;
  max-height: 170px;
  min-width: 170px;
  max-width: 170px;
  background: #ffffff;
  border-color: #000000;
  border-width: 2px;
  border: solid;
  transition: 0.3s;
}

.profile-image:hover {
  opacity: 0.7;
}

.profile-stats-row {
  width: 100%;
  height: 100px;
}

.album-row-username {
  margin: 0 0 -15px 0;
}

.album-row-username h1 {
  font-size: 55px;
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
  font-family: 'Alegreya Sans SC', sans-serif;
  padding-left: 14px;
}

.profile-stat-number {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #000000;
}

.profile-stat-name {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: center;
}

.profile-stat {
  padding: 5px 20px 5px 20px;
}

.profile-mini-link{
  padding: 5px 20px 5px 20px;
  text-decoration: underline;
  color: #000000;
}

.flex-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
  height:320px;
}

.profile-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  background: #fff;
  padding-top: 2px;
}

.profile-stats-area {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.music-icon {
  padding-left: 20px;
}

.profile-stats-area h6 {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding-left: 10px;
}

.album-art {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  -webkit-flex-direction: row;
  flex-direction: row;
  height: 320px;
}

.profile-info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  position: absolute;
  width: 85vw;
  top: 70px;
  /*top: 28%;*/
}

.profile-right {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.profile-data {
  padding: 0 5% 0 5%;
}

.profile-section-header {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 7px;
}

.profile-section-header h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  margin-bottom: 0;
}

.profile-section-header-timespan {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 7px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.profile-section-header-timespan h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
  margin-bottom: 0;
}

.timespan-form {
  color: #8b8e94;
  font-size: 18px;
  border: 0;
}

.profile-left {
  /*margin: 0 5% 0 0;*/
}

.listens {
  margin: 0 0 0 5%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.listen-entry {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid #b9bbbe;
}

.listen-entry-shaded {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  -webkit-flex-direction: row;
  flex-direction: row;
  background: #d0d2d4;
  width: 100%;
  border-bottom: 1px solid #b9bbbe;
}

.listen-entry-art {
  min-width: 39px;
  min-height: 39px;
  max-width: 39px;
  max-height: 39px;
  background: #ffffff;
  /*border: 1px solid black;*/
  margin: 0px 0 0px 10px;
}

.listen-entry-track {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-right: auto;
  margin-left: 10px;
  margin-bottom: 0;
  padding-top: 4px;
}

.listen-entry-track h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.listen-entry-time {
  margin-left: auto;  
  margin-right: 5px;
}

.listen-entry-time h6 {
  font-family: 'Roboto', sans-serif;
  color: #5c5c5c;
}

.top-track {
  padding-top:10px;
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  -webkit-flex-direction: column;
  flex-direction: column;
}


/****** Settings ******/
.settings-title-area {
  padding-left: 10vw;
  border-bottom: 1px solid #b9bbbe;
}

.settings-title-area h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
}

.settings-data {
  padding-left: 10vw;
  padding-top: 2vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.settings-data h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.settings-fields {

}

.spotify-connect-button {
  margin-left: 2vw;
  color: inherit;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
  border: 1px solid #b9bbbe;
  border-radius: 10px;
  background: #191414;
}

.spotify-icon {
  color: #1ED760;
}

.spotify-connect-button h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 0;
  padding-right: 10px;
  color: #ffffff;
}

.settings-row{
  padding-left: 2vw;
  min-width: 40vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.settings-row h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin: 0;
}


.timezone-form {
  line-height: 40px;
  border: 0;
}

/**** Bio ****/


.bio {
  margin: 0 10% 0 10%;
  padding: 0 0 0 0;
  border-bottom: 1px solid #b9bbbe;
  /*background: #d0d2d4;*/
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.bio h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}


.bio-edit {
  color: blue;
  font-size: 12px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.bio-edit-form {
  min-height: 160px;
  width: 100%;
  margin-bottom: 10px;
}

.bio-button-row {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.bio-edit-area {
  margin: 0 10% 0 10%;
  padding: 5px;
  background: #d0d2d4;
}

.bio-area {
  background: #fff;
  padding: 20px 0 20px 0;
  margin: auto;
  width: 80%;
  border: 1px solid #b9bbbe;
  border-radius: 3px;
}

/*** Highlights ***/
.no-highlights {
  margin: 0 0 0 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.no-highlight-edit {
  color: #606264;
  font-size: 12px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.highlighted-music {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin: 10px auto auto auto;
  /*padding: 10px;*/
  /*border: 3px dotted #b9bbbe;*/
  width: 80%;
}

.highlight-img {
  min-height: 67px;
  min-width: 67px;
  max-height: 67px;
  max-width: 67px;
  margin: auto;
  /*border-width: 2px;*/
}

.highlight-desc {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.highlight-txt {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
  padding: 10px;
}

.highlight-entry h6 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 14px;
}

.highlight-entry {

  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  -webkit-flex-direction: row;
  flex-direction: row;
  background: #dbdbdb;
  border: 1px solid #b9bbbe;
  margin: 2px;
  width: 100%;
}

.highlight-entry-area {
  display:block;
  width: 100%;
  transition: 0.3s;
}

.highlight-entry-area:hover {
  opacity: 0.5;
}


.highlight-edit-entry {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  -webkit-flex-direction: column;
  flex-direction: column;
  background: #dbdbdb;
  border: 1px solid #b9bbbe;
  width: 100%;
  padding: 20px;
  /*margin: 5px 20px 5px 20px;*/
}

.highlight-edit-entry h6 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-width: 80px;
  font-size: 20px;
}

.highlight-edit-row {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding-bottom: 5px;
}

.highlight-edit-form {
  width: 80%;
}


/**** Profile Navigation ****/
.profile-navigation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.profile-nav-link {
  padding: 6px 8px 6px 8px;
}

.profile-nav-link-selected {
  padding: 6px 8px 6px 8px;
}

.profile-nav-link-selected a {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: bold;
}

.profile-nav-link a {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}

.album-entry {
  min-width: 200px;
  min-height: 200px;
  max-width: 200px;
  max-height: 200px;
  position:relative;
}

.album-entry-art-gradient {
  background: linear-gradient(0deg, black 5%, transparent 100%);
  position:absolute;
  z-index: 50;
  top: 40%;
  left: 0;
  width: 100%;
  height: 60%;
  opacity: 0.4;
}

.album-entry-art {
  min-width: 200px;
  min-height: 200px;
  max-width: 200px;
  max-height: 200px;
  /*margin: 0px 0 0px 10px;*/
  opacity: 1.0;
}

.top-album-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 100%;
}

.album-entry-text-group {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 9px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.album-entry-text {
  width: 100%;
  text-align: right;
}

.album-entry-text h6 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-shadow: 0px 0px 3px #000;
  color: #fff;
}

.album-entry-text h5 {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0px 0px 3px #000;
  color: #fff;
}