<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Explore.fm</title>

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/explorefm.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:500&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet"> 
</head>

<!-- Navigation -->
<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand logo-navbar" href="{{ url_for('index') }}">Explore.fm</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
           <li><a href="{{ url_for('index') }}">Home</a></li>

            {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            {% else %}
            <li><a href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>    
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
        </ul>
      </div>
    </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    
    <script src="/static/js/bootstrap.js"></script>
    <script src="https://use.fontawesome.com/7d6346c2db.js"></script>
</body>

</html>