{% extends "profile_base.html" %}

{% block profile %} 

<div class="profile-data"> <!-- Profile data -->
    <div class="col-md-6 col-sm-6 col-xs-12 ">
        <div class="profile-left">
            <div class="bio-area">
                <div id="bio"></div>
                <div class="profile-stats-area">
                    <div class="profile-stats">
                        <div class="profile-stat">
                            <div class="profile-stat-number">{{ user.get_total_listens() }}</div>
                            <div class="profile-stat-name">Listens</div>
                        </div>
                        <div class="profile-stat">
                            <div class="profile-stat-number">{{ user.get_unique_tracks() }}</div>
                            <div class="profile-stat-name">Tracks</div>
                        </div>
                        <div class="profile-stat">
                            <div class="profile-stat-number">{{ user.get_unique_albums() }}</div>
                            <div class="profile-stat-name">Albums</div>
                        </div>
                        <div class="profile-stat">
                            <div class="profile-stat-number">{{ user.get_unique_artists() }}</div>
                            <div class="profile-stat-name">Artists</div>
                        </div>
                    </div>
                </div> 
                <div id="highlighted-music" class="highlighted-music"></div> <!-- Highlighted music react component -->
            </div>
            <div id="top-tracks"></div> <!-- Top Tracks react component -->
            <div id="top-albums"></div> <!-- Top Albums react component -->
            <div id="top-artists"></div> <!-- Top Artists react component -->

        </div> <!-- Profile left end -->
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 ">
        <div class="listens">
            <div class="profile-section-header">
                <h6>Listens</h6>
            </div>
            <div style="padding-bottom: 10px"></div>
            {% for l in user.get_recent_listens(10) %}
            {% if (loop.index + 1) % 2 == 0 %}
            <div class="listen-entry">
            {% else %}
            <div class="listen-entry-shaded">
            {% endif %}
                <img class="listen-entry-art" src="{{ config.IMAGE_SERVING + config.ALBUM_ART_DIR + l['img_id'] + "-small.jpg" }}"/>
                <div class="listen-entry-track"><h6>{{ l['artist'] }} - {{ l['track'] }}</h6></div>
                <div class="listen-entry-time"><h6>{{ l['time'] }}</h6></div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}