{% extends "profile_base.html" %}

{% block profile %} 

<div id="profile"></div>

{% endblock %}

<!-- 
                <div id="bio"></div>
                <div class="profile-stats-area">
                    <div class="profile-stats">
                        <div class="profile-stat">
                            <div class="profile-stat-number">{{ user.get_total_listens() }}</div>
                            <div class="profile-stat-name">Listens</div>
                        </div>
                        <div class="profile-stat">
                            <div class="profile-stat-number">{{ user.get_unique_tracks() }}</div>
                            <div class="profile-stat-name">Tracks</div>
                        </div>
                        <div class="profile-stat">
                            <div class="profile-stat-number">{{ user.get_unique_albums() }}</div>
                            <div class="profile-stat-name">Albums</div>
                        </div>
                        <div class="profile-stat">
                            <div class="profile-stat-number">{{ user.get_unique_artists() }}</div>
                            <div class="profile-stat-name">Artists</div>
                        </div>
                    </div>
                </div> 
                <div id="highlighted-music" class="highlighted-music"></div>