{% extends "base.html" %}

{% block content %}
    <script type="text/javascript">
        var initial_timezone = "{{ current_user.get_timezone() }}";
    </script>
	<div class="settings-title-area">
	    <h1>Settings</h1> 
	</div>
	<div class="settings-data">
		<h1 class="settings-header">Listen Tracking</h1>
		<div class="settings-row">
			<h2>Spotify</h2>
			<div class="settings-fields">
				<!-- Connect to spotify -->
				{% if current_user.is_spotified() %}
				<a style="display:block" href="{{ url_for('spotifydisconnect') }}">
				<div class="spotify-connect-button">
					<h2>Disconnect from Spotify</h2>
					<i class="fa fa-spotify fa-3x spotify-icon" aria-hidden="true"></i>
				</div>
				</a>
				{% else %}
				<a style="display:block" href="{{ url_for('spotifyconnect') }}">
				<div class="spotify-connect-button">
					<h2>Connect to Spotify</h2>
					<i class="fa fa-spotify fa-3x spotify-icon" aria-hidden="true"></i>
				</div>
				</a>
				{% endif %}
			</div>
		</div>

		<h1 class="settings-header">Time</h1>
		<div class="settings-row">
			<h2>Timezone</h2>
			<div id="timezone-form"></div>
		</table>
		</div>
	</div>
	<div style="min-height:20vh;"></div>

{% endblock %}